body{
    margin: 0;
}
#top_signin{
    height: 70vh;
    width: 70vh;
    background-color: blue;
    transform: 
        translateX(-50%)
        rotate(45deg)
        scale(1);
    position: fixed;
    left: 50%;
    top: -70vh;
    transition: top 2s;
    z-index: 10;
}
#top_signin.registering{
    top:0;
}
#top_signin:active{
    transition: top 2s transform 1s;
    transform:
        translateX(-50%)
        rotate(45deg)
        scale(0.99);
}
#choose{
    z-index: -1;
    /* position: relative; */
    margin:20vh auto auto auto;
    background-color: transparent;
    width: 50vw;
    height: 40vh;
    top: 0;
    transition: top 2s ,width 2.1s;
}
#choose .link{
    /* z-index: 10; */
    top: 20vh;
    display: block;
    height: 40vh;
    width: 20vh;
    background-color: azure;
    position: absolute;
    transition: top 2s,left 2.1s,right 2.1s;
}
#choose .link::after{
    content: "";
    display: block;
    border: 10vh solid transparent;
    border-top: 10vh solid black;
    margin-top: 40vh;
}
#choose .link:first-child{
    left: 25vw;
}
#choose .link:last-child{
    right: 25vw;
}
#choose.registering .link:first-child{
    top: 40vh;
    left: calc(50vw - 60vh);
}
#choose.registering .link:last-child{
    top:40vh;
    right: calc(50vw - 60vh);
}
#index_bg{
    /* z-index: -1; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.music_icon_mouse{  /*鼠标点击生成音乐图标*/
    display: block;
    z-index: -1;
    width: 20px;
    height: 29px;
    position: fixed;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 1;
    transition: top 2s,left 2s,right 2s,opacity 2s;
}
.ripple{
    z-index: -1;
    position: fixed;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px gray,0 0 10px gray inset;
    animation: ripple_extend 10s linear;
}
@keyframes ripple_extend{
    from{}
    to{
        width: 300vw;
        height: 300vw;
    }
}
.ripple_text{
    height: 2em;
    width: 10em;
    position: fixed;
    font-size: 2em;
    margin: 0;
    color: black;
    opacity: 0;
    animation: ripple_text_disapper 2s linear forwards;
    transform: translate(-50%,-50%);
    /* z-index: -10; */
}
@keyframes ripple_text_disapper{
    0%{
        opacity: 0;
    }50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}