body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#bg{
    z-index: -1;
    height: 100%;
    width: 100%;
}
#disc{
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    background-color: rgba(75, 75, 75, 0.89);
    position: fixed;
    top: -50vh;
    left: calc(50vw - 50vh);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 100px black;
    animation: disc_circle 10s linear infinite;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
    display: none;
}
@keyframes disc_circle {
    from{transform: rotate(0deg) scale(1);}
    25%{transform: scale(0.99);}
    50%{transform: scale(1);}
    75%{transform: scale(0.99);}
    to{transform: rotate(360deg) scale(1);}
}
#disc .light{
    height: 50vh;
    width: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transform-origin: top;
    box-shadow: 0 0 100px white;
}
#disc .light:last-child{
    transform: rotate(45deg);
}
#disc .light:first-child{
    transform: rotate(-45deg);
}
.disc_line{
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    height: 100vh;
    width: 100vh;
}
#disc::after{
    content: "";
    /* position: absolute; */
    background-color: rgb(223, 222, 222);
    box-shadow: inset 0 0 100px white,0 0 100px black;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    z-index: 1;
}
#playList{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    transition: border-radius 2s,height 2s,width 2s;
    overflow: hidden;
    transform: translate(-50%,-50%);
}
#playList .close{
    position: absolute;
    top: 0;
    left: 280px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    z-index: 100;
}
#playList.active{
    height: 500px;
    width: 300px;
}
#playList::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 300px;
    left: 0;
    top: 0;
    background-color: aqua;
    opacity: 0.9;
    filter: blur(100px);
    transition: opacity 2s;
}
#playList.active::before{
    opacity: 0;
}
#bg #ball_wall{
    position: fixed;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
#bg .ball_blur{
    transform: translate(-50%,-50%) scale(1);
    transition: top 6s linear,left 6s linear,transform 6s;
    position: fixed;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: gray;
    filter: blur(10px);
    top: 50%;
    left: 50%;
}